.Mappage-map {
	width: 100%;
    height: 100vh;
}

.Mappage-map th {
	padding-right: 10px;
}

.Mappage-arrow {
	z-index: 9000;	
	color: white;
	font-size: 20px;
	background-color: rgba(0,0,0,0.5);
	padding: 20px;
	cursor: pointer;
	position: absolute;
	top: 49%;
}

.Mappage-arrow.left {
	left: 0;
}

.Mappage-arrow.right {
	right: 0;
}

.Mappage-logo {
	background-image: url(https://www.bluebeam.com/user/pages/images/logos/bug-blue.svg);
	background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9000;
    height: 20px;
    width: 20px;
	padding: 21px;
}